@page
@model LoginModel

@{
    ViewData["Title"] = "User Log in";
    ViewData["Demo"] = "Try the new demo!";
    ViewData["Password"] = "ConnectPr0!";
    ViewData["EmailLogin"] = "connectprodemo@gmail.com";
}

<div class="row d-flex justify-content-center mx-2">
    <div class="col-md-4 card shadow rounded-1 ms-3 me-3">
        <h1 class="text-blue text-center mt-4 pt-1">
            <strong>
                @ViewData["Demo"]
            </strong>
        </h1>

        <form id="account" method="post">
            @*<h2>Use a local account to log in.</h2>*@
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" value="connectprodemo@gmail.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mt-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="" aria-required="true" value="" />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div>
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary mt-3">
                    <strong>
                        Demo Log in
                    </strong>
                </button>
            </div>
        </form>
        <div class="row ps-1 pt-3">
            <h5 class="text-light-blue">Email:</h5>
            <p class="text-blue">
                <strong>
                    @ViewData["EmailLogin"]
                </strong>
            </p>
            <h5 class="text-light-blue">Password:</h5>
            <p class="text-blue">
                <strong>
                    @ViewData["Password"]
                </strong>
            </p>
            <h5 class="text-light-blue pb-2">Copy & paste the password above</h5>
        </div>
    </div>
    <div class="col-md-2 h-100 d-flex flex-column justify-content-between mt-4 mt-lg-2 mb-0 ms-3 ms-lg-0"><img src="~https://steveszymanski-connectpro.up.railway.app/img/ConnectProLogInCropped.png" /></div>
    <div class="col-md-4 card shadow">
        <h1 class="text-blue text-center mt-4 pt-1">
            <strong>
                @ViewData["Title"]  
            </strong>
        </h1>
        <section>
            <form id="account" method="post">
                @*<h2>Use a local account to log in.</h2>*@
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mt-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary mt-3">
                        <strong>
                            Log in
                        </strong>
                    </button>
                </div>
                <div class="checkbox ps-1 mt-2">
                    <label asp-for="Input.RememberMe" class="form-label text-blue">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        <strong>
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </strong>
                    </label>
                </div>
                <div class="ps-1">
                    <p class="mt-3">
                        <a id="forgot-password" class="text-blue" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" class="text-blue" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" class="text-blue" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
